html {
  scroll-behavior: smooth;
}

.content-center {
  justify-content: center;
}

.container {
  margin-top: 30px;
  padding: 0 !important;
}

.list-item-contains {
  margin-bottom: 1.5em;
  border: 0;
  box-shadow: 5px 0px 5px -1px #f6f6f6, 0px 5px 5px 0px #f6f6f4,
    -5px 0px 5px -1px #f6f6f6, 0px -5px 5px -1px #f6f6f6;
  border-radius: 5px;
}

.filter {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sort-by {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-sort {
  text-align: right;
}

.list-container .list-group-item {
  word-break: break-all;
}

.pagination {
  justify-content: center;
}

h4 {
  text-transform: uppercase;
}

.btn-warning {
  cursor: auto;
}

.sort-container {
  cursor: pointer;
}

.sort-button {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sort-button:focus {
  outline: none;
}

/* notFound */

#notFound {
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
  font-family: "Lato", sans-serif;
  color: #888;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* loadingSpinner */

.lds-ring {
  margin-top: 20px;
  width: 100%;
  height: 700px;
  /* background-color: #e5e4e4; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
