.content-center {
  justify-content: center;
}

.container {
  margin-top: 30px;
  padding: 0 !important;
}

.list-item-contains {
  margin-bottom: 1.5em;
  border: 0;
  box-shadow: 5px 0px 5px -1px #f6f6f6, 0px 5px 5px 0px #f6f6f4,
    -5px 0px 5px -1px #f6f6f6, 0px -5px 5px -1px #f6f6f6;
  border-radius: 5px;
}

.filter {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sort-by {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-sort {
  text-align: right;
}

.list-container .list-group-item {
  word-break: break-all;
}

.pagination {
  justify-content: center;
}

h4 {
  text-transform: uppercase;
}

.btn-warning {
  cursor: auto;
}

.sort-container {
  cursor: pointer;
}

.sort-button {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sort-button:focus {
  outline: none;
}
